.bio {
  display: flex;
  margin-bottom: 2rem;

  img {
    margin-right: 1rem;
    margin-bottom: 0px;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 8px;
  }

  h1.name {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .bio {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 0;
    }
  }
}

