.article-footer{
    margin-left: 0;
    list-style: none;
    margin-bottom: 2rem;

    li.previous{
        float: left;
        text-align: left;
    }

    li.next{
        float: right;
        text-align: right;
    }

    &:after{
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }
}

