.index-menu {
  margin-top: 6rem;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;

  .link-block-title {
    color: #666;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .link-block-content {

  }
}
