.index-menu {
  margin-top: 6rem;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;

  @media screen and (max-width: 750px) {
    flex-direction: column
  }

  .link-block {
    width: 50%;

    @media screen and (max-width: 750px) {
      width: 100%;
      margin-bottom: 3rem;
    }

    .link-block-title {
      color: #666;
      font-size: 0.7rem;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    .link-block-content {
      .blog-links {
        margin-bottom: 0.5rem;
      }
    }
  }
}
