.article {
    background: white;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 10px rgba(34, 17, 17, 0.05);
    position: relative;

    h2{
        margin-top: 0;
        border:none;
    }

    a.card-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 0;
    }

    &:hover{
        box-shadow: 0 3px 10px rgba(34, 17, 17, 0.15);
    }
}